bibtexparser
crossref-commons
fastapi
Flask
langchain
langchain-community
langchain-experimental
langgraph
langchain-cli
langchain-ollama
langchain-text-splitters
ldap3
numpy
ollama
onnx
pandas
pdf2bib
pdf2doi
pydantic
pymilvus
pymilvus[bulk_writer]
pymilvus[model]
pymongo
PyMuPDF
PyYAML
pymongo
pyzotero
requests
torch==2.6.0
tqdm
transformers
uvicorn
sentence-transformers
langchain-huggingface
langchain-ollama
